<!DOCTYPE html>
<html>
  <head>
    <title>ChotaBeta User App</title>
    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="icon" type="image/png" sizes="128x128" href="icons/logo.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/logo.png">
    <link rel="icon" type="image/png" href="logo.png">
    <!-- <link rel="stylesheet" href="css/app.css"> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNIf99xCnNaPPpDmXQI-PIIJpRmw1kD98&callback=initAutocomplete&libraries=places" async></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
      // let isMobile = window.matchMedia("only screen and (max-width: 768px)").matches;
        // if (!isMobile){ window.location="https://chotabeta.com/pwa"; }
    </script>
  </head>
  <!-- <body> -->
    <!-- DO NOT touch the following DIV -->
    <!-- <div id="q-app">
    </div>
  </body> -->
  <body >
    <div class="full-width full-height text-center flex flex-center q-pa-lg q-py-xl  cb-font-16" id="page_refresh_1">
      <div>
        <img src="https://chotabeta.com/images/images/white-logo.svg" width="20%">
        <p class="text-white">The page you are viewing is not compatible to desktop/laptop.</p>
        <p class="text-white"> To access the page, please Click Hare Once</p>
        <button onclick="location.reload()" class="q-pa-sm q-px-md cb-round-borders-10 text-bold" style="border:none"> Click Here</button>
      </div>
    </div>
    <div id="q-app" class="page_refresh">
  </body>
</html>
